In [1]:
import pandas as pd
import numpy as np
import math

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [2]:
df = pd.read_csv("tem_historico_groupby_sincos_confecha.csv")

In [3]:
df['fecha'] = pd.to_datetime(df['fecha'], errors='coerce')
df = df.sort_values(by='fecha').reset_index(drop=True)

In [4]:
columnas_cat = ["velmedia", "velmax", "tmed", "tmax", "tmin"]

def create_lag_features(df, group_col, date_col, columnas_cat, lag=1):
    df = df.sort_values(by=[group_col, date_col])
    for col in columnas_cat:
        df[col + "_lag1"] = df.groupby(group_col)[col].shift(lag)
    return df

df_lag = create_lag_features(df, "provincia", "fecha", columnas_cat, lag=1)

# Eliminar filas donde no se pudieron calcular los lags
lag_cols = [col + "_lag1" for col in columnas_cat]
df_lag = df_lag.dropna(subset=lag_cols)

In [5]:
y = df_lag[columnas_cat].copy()
features = ["provincia", "sin_day_of_year", "cos_day_of_year"] + lag_cols
X = df_lag[features].copy()

In [6]:
# Usaremos el percentil 80 de la columna 'fecha' para el split
split_date = df_lag["fecha"].quantile(0.8)
# Agregamos 'fecha' a X para poder filtrar, y luego la quitamos
X['fecha'] = df_lag['fecha']

train_mask = X['fecha'] <= split_date
X_train = X[train_mask].drop(columns=["fecha"])
y_train = y[train_mask]
X_test = X[~train_mask].drop(columns=["fecha"])
y_test = y[~train_mask]

print("Tamaño train:", X_train.shape)
print("Tamaño test :", X_test.shape)

Tamaño train: (67184, 8)
Tamaño test : (16796, 8)

In [7]:
# Preprocesamiento: OneHotEncoder para la columna 'provincia'
col_transformer = ColumnTransformer(
    transformers=[
        ("ohe_prov", OneHotEncoder(handle_unknown="ignore"), ["provincia"])
    ],
    remainder="passthrough"  # Deja el resto de columnas (las numéricas) sin cambios
)

In [8]:
base_rf = RandomForestRegressor(n_estimators=100, max_depth=10, random_state=42, n_jobs=-1)
multi_rf = MultiOutputRegressor(base_rf)

pipeline = Pipeline([
    ("preprocessor", col_transformer),
    ("rf_multi", multi_rf)
])

In [9]:
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)
y_pred_df = pd.DataFrame(y_pred, columns=columnas_cat, index=y_test.index)

for col in columnas_cat:
    mse = mean_squared_error(y_test[col], y_pred_df[col])
    rmse = np.sqrt(mse)
    mae = mean_absolute_error(y_test[col], y_pred_df[col])
    r2  = r2_score(y_test[col], y_pred_df[col])
    print(f"Variable: {col}")
    print(f"  RMSE: {rmse:.3f}")
    print(f"  MAE : {mae:.3f}")
    print(f"  R²  : {r2:.3f}")
    print("-"*30)

Variable: velmedia
  RMSE: 1.080
  MAE : 0.791
  R²  : 0.396
------------------------------
Variable: velmax
  RMSE: 2.985
  MAE : 2.224
  R²  : 0.335
------------------------------
Variable: tmed
  RMSE: 1.880
  MAE : 1.408
  R²  : 0.905
------------------------------
Variable: tmax
  RMSE: 2.446
  MAE : 1.863
  R²  : 0.870
------------------------------
Variable: tmin
  RMSE: 2.115
  MAE : 1.581
  R²  : 0.874
------------------------------

In [10]:
# a) Último registro por provincia
last_data = df_lag.groupby("provincia").apply(lambda d: d.iloc[-1]).reset_index(drop=True)

# b) Calcular la fecha siguiente
last_data['next_date'] = last_data['fecha'] + pd.Timedelta(days=1)

# c) Calcular el día del año para next_date y generar sin y cos para ese día
last_data['day_of_year_next'] = last_data['next_date'].dt.dayofyear
last_data['sin_day_of_year_next'] = np.sin(2 * np.pi * last_data['day_of_year_next'] / 366)
last_data['cos_day_of_year_next'] = np.cos(2 * np.pi * last_data['day_of_year_next'] / 366)

/var/folders/6s/rbb4xdjd1d15rp4z5_w0yt8c0000gn/T/ipykernel_72099/1223162385.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  last_data = df_lag.groupby("provincia").apply(lambda d: d.iloc[-1]).reset_index(drop=True)

In [11]:
X_future = pd.DataFrame({
    "provincia": last_data["provincia"],
    "sin_day_of_year": last_data["sin_day_of_year_next"],
    "cos_day_of_year": last_data["cos_day_of_year_next"],
    "velmedia_lag1": last_data["velmedia"],
    "velmax_lag1": last_data["velmax"],
    "tmed_lag1": last_data["tmed"],
    "tmax_lag1": last_data["tmax"],
    "tmin_lag1": last_data["tmin"]
})

In [12]:
future_pred = pipeline.predict(X_future)
future_pred_df = pd.DataFrame(future_pred, columns=columnas_cat, index=last_data.index)

In [14]:
result_future = pd.concat([last_data[["provincia", "next_date"]], future_pred_df], axis=1)
result_future.rename(columns={"next_date": "predicted_date"}, inplace=True)

print("\nPredicción para el día siguiente (por provincia):")
result_future

Predicción para el día siguiente (por provincia):

,provincia,predicted_date,velmedia,velmax,tmed,tmax,tmin
0,A CORUÑA,2025-02-12,3.906105,11.127575,11.077692,13.733670,7.940188
1,ALBACETE,2025-02-12,2.417502,9.107374,10.600645,17.005713,3.898731
2,ALICANTE,2025-02-12,2.012608,7.695911,11.704792,17.335470,5.860023
3,ALMERIA,2025-02-12,2.640390,9.057944,11.733017,16.445222,7.076580
4,ARABA/ALAVA,2025-02-12,2.959329,9.955004,9.993606,13.572201,6.005671
5,ASTURIAS,2025-02-12,2.900603,10.937080,10.492251,14.852841,5.690919
6,AVILA,2025-02-12,2.962145,10.205015,7.930213,11.968868,3.439147
7,BADAJOZ,2025-02-12,3.565269,12.451610,10.056576,13.562665,6.199748
8,BALEARES,2025-02-12,2.695772,8.105540,11.725856,16.954357,6.314088
9,BARCELONA,2025-02-12,2.053689,7.725270,9.935676,13.663985,5.655780
10,BIZKAIA,2025-02-12,2.952640,10.981294,13.329827,17.630635,8.964252
11,BURGOS,2025-02-12,2.427634,9.094232,8.943198,12.842882,4.502530
12,CACERES,2025-02-12,3.056324,10.262935,9.919383,12.825321,6.578762
13,CADIZ,2025-02-12,3.863499,11.986065,14.470659,18.251328,10.808923
14,CANTABRIA,2025-02-12,3.200802,12.354529,10.438801,14.747199,5.638377
15,CASTELLON,2025-02-12,2.192154,8.070411,9.264772,13.972102,4.033949
16,CIUDAD REAL,2025-02-12,2.897731,10.807146,9.884122,15.729810,3.147861
17,CORDOBA,2025-02-12,3.240504,10.939039,11.672983,17.043985,6.138618
18,CUENCA,2025-02-12,2.671224,9.738668,9.483078,14.659602,4.066106
19,GIPUZKOA,2025-02-12,3.170547,11.591101,13.314102,16.622875,10.385802
20,GIRONA,2025-02-12,2.486235,9.871041,9.991219,14.501936,5.399424
21,GRANADA,2025-02-12,3.779826,12.060508,8.441033,14.084147,2.525459
22,GUADALAJARA,2025-02-12,2.596193,9.728485,7.995484,12.262287,3.293314
23,HUELVA,2025-02-12,3.643150,12.531445,11.713620,15.382893,7.935585
24,HUESCA,2025-02-12,2.194258,8.509469,7.346439,11.024321,3.811050
25,ILLES BALEARS,2025-02-12,1.927852,7.575404,11.721403,17.008798,6.393816
26,JAEN,2025-02-12,2.268229,9.182746,11.737734,17.855952,5.712776
27,LA RIOJA,2025-02-12,2.956045,9.729860,8.805327,12.390447,4.937957
28,LAS PALMAS,2025-02-12,2.867282,8.980114,15.684082,19.836909,11.219562
29,LEON,2025-02-12,2.433352,9.214779,6.900076,10.193655,3.464700
30,LLEIDA,2025-02-12,2.290913,8.315858,7.091837,12.001711,2.437534
31,LUGO,2025-02-12,2.437469,9.683523,9.907867,13.537303,5.579347
32,MADRID,2025-02-12,2.468090,9.241367,8.104021,12.332487,3.298784
33,MALAGA,2025-02-12,2.833759,9.099787,13.397236,16.806245,10.086694
34,MURCIA,2025-02-12,2.236539,7.831055,12.326949,17.629335,7.171748
35,NAVARRA,2025-02-12,2.912479,10.326727,10.356522,13.827287,6.210807
36,OURENSE,2025-02-12,2.717704,9.953829,8.481410,12.174147,5.050547
37,PALENCIA,2025-02-12,2.490571,9.614686,7.302267,11.064684,3.534340
38,PONTEVEDRA,2025-02-12,2.476334,9.437509,10.111052,13.324786,6.583453
39,SALAMANCA,2025-02-12,2.894544,10.518523,7.292516,11.898941,3.389952
40,SANTA CRUZ DE TENERIFE,2025-02-12,4.361533,9.052968,15.475515,19.002758,11.930887
41,SEGOVIA,2025-02-12,3.789052,11.250518,7.020720,11.637356,2.503864
42,SEVILLA,2025-02-12,3.318784,11.297440,11.864402,17.176931,6.998963
43,SORIA,2025-02-12,2.932935,10.116716,7.298191,11.878551,2.922030
44,STA. CRUZ DE TENERIFE,2025-02-12,2.561692,8.488741,13.518827,17.078761,9.792841
45,TARRAGONA,2025-02-12,2.339895,8.216348,11.709775,15.644186,6.924517
46,TERUEL,2025-02-12,2.538186,9.037121,8.762017,13.902340,3.241095
47,TOLEDO,2025-02-12,2.592501,9.522761,9.080658,15.177140,3.221630
48,VALENCIA,2025-02-12,1.936320,7.806358,11.688913,17.288487,6.265826
49,VALLADOLID,2025-02-12,2.765937,9.188500,8.867091,13.816967,3.497810
50,ZAMORA,2025-02-12,2.268375,7.750584,7.520248,12.186485,3.592383
51,ZARAGOZA,2025-02-12,2.288489,8.299995,10.347063,15.377432,4.986528